<div class="container">
  <h2>Accounts for Customer: {{ customer.name }}</h2>

  <div *ngIf="accounts.length > 0; else noAccounts">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Account ID</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Created At</th>
        <th>Overdraft</th>
        <th>Interest Rate</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.id }}</td>
        <td>{{ account.type }}</td>
        <td>{{ account.balance | number : '1.3-3' }}</td>
        <td>{{ account.createdAt | date: 'short' }}</td>
        <td *ngIf="account.type === 'CurrentAccount'">{{ account.overdraft }}</td>
        <td *ngIf="account.type !== 'CurrentAccount'"></td>
        <td *ngIf="account.type === 'SavingAccount'">{{ account.interestRate }}%</td>
        <td *ngIf="account.type !== 'SavingAccount'"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noAccounts>
    <p>No accounts found for this customer.</p>
  </ng-template>
</div>
